[submodule "PUF_VM"]
	path = PUF_VM
	url = git@github.com:crosscon/ZK-PUF-Zephyr-Demo.git
[submodule "GUEST_VM"]
	path = GUEST_VM
	url = git@github.com:crosscon/ZK-PUF-Zephyr-Demo.git
[submodule "Hypervisor"]
	path = Hypervisor
	url = git@github.com:crosscon/CROSSCON-Hypervisor.git
